  <header class="hero">

        <div class="hero-overlay"></div>

        <div class="container position-relative">

            <div class="row">

                <div class="col-lg-8">

                    <p class="hero-subtitle mb-4">
                        REDUCE | REUSE | RECYCLE
                    </p>

                    <h1 class="hero-title mb-5">
                        We Provide Recycling
                        <br>
                        Service Since 1990
                    </h1>

                    <a href="#" class="btn btn-success hero-btn">
                        LEARN MORE
                    </a>

                </div>

            </div>

        </div>

        
       

    </header>












<section class="about-section py-5">

    <div class="container py-lg-5">

        <div class="row align-items-center g-5">

            <!-- About Content -->
            <div class="col-lg-6">

               

                <!-- Title -->
                <h2 class="section-title mt-4 mb-4">
                    The Pioneers In The
                    <br>
                    Recycling Service!
                </h2>

                <!-- Description -->
                <p class="about-text mb-3">
                    We drive the transition to more sustainable, reliable &
                    affordable energy systems. With our innovative technologies,
                    we energize society, that’s our aim!
                </p>

                <p class="about-text mb-4">
                    How can we meet the growing demand for electricity while
                    protecting our climate & make planet a better place?
                </p>

                <button class="butt btn btn-warning px-4 text-light  ">Reporting System</button>

                <!-- Statistics -->
                <div class="row about-stats">

                    <!-- Stat 1 -->
                    <div class="col-4 stat-item">

                        <div class="stat-icon">
                            <i class="bi bi-calendar-check"></i>
                        </div>

                        <h6>
                            Ontime at
                            <br>
                            Services
                        </h6>

                    </div>


                    <!-- Stat 2 -->
                    <div class="col-4 stat-item">

                        <div class="stat-icon">
                            <i class="bi bi-clock"></i>
                        </div>

                        <h6>
                            24/7
                            <br>
                            Services
                        </h6>

                    </div>


                    <!-- Stat 3 -->
                    <div class="col-4 stat-item">

                        <div class="stat-icon">
                            <i class="bi bi-wallet2"></i>
                        </div>

                        <h6>
                            Affordable
                            <br>
                            Cost
                        </h6>

                    </div>

                </div>

            </div>


            <!-- About Image -->
            <div class="col-lg-6">

                <div class="about-image-wrapper">

                    <img
                        src="../../../../assets/images/slider/slide-2.jpg"
                        alt="Recycling Service"
                        class=" about-image"
                    >

                    <!-- Happy Customers Card -->
                    <div class="customers-card">

                        <i class="bi bi-people"></i>

                        <h3>{{customersCount}}</h3>

                        <p>Happy Customers</p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>














    
<section class="benefits-section mt-5 py-5">
   <div class="container-fluid">
    <div class="row  p-4 align-items-center g-5">

      <!-- Image -->
      <div class="col-lg-6 ">
        <div class="w-100 ">
          <img 
            src="../../../../assets/images/slider/slide-4.jpg"
            alt="Recycling"
            class="w-100 rounded-3"
          />
        </div>
      </div>

      
      <div class="col-lg-6 p-5">
        <div class="benefits-content">

          <span class="section-subtitle">
            OUR POTENTIAL BENEFITS
          </span>

          <h2>
            Why you Should Choose Our
            <br />
            Services
          </h2>

          <p class="description">
            There are many variations of passages of but the majority have
            in some form, by injected humour or words which don't look even
            slightly believable or but the majority have suffered.
          </p>

          <!-- Features -->
          <div class="row g-3 features">
            <div class="col-md-6">
              <div class="feature-box">
                <span class="feature-icon">✓</span>
                <span>Convenient Pickup</span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="feature-box">
                <span class="feature-icon">✓</span>
                <span>Reducing Waste</span>
              </div>
            </div>
          </div>

          <!-- Progress 1 -->
          <div class="progress-item">
            <div class="progress-header">
              <span>Recycling Service</span>
              <span class="percentage">90%</span>
            </div>

            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 90%;"
              ></div>
            </div>
          </div>

          <!-- Progress 2 -->
          <div class="progress-item">
            <div class="progress-header">
              <span>Waste Management</span>
              <span class="percentage">70%</span>
            </div>

            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 70%;"
              ></div>
            </div>
          </div>

        </div>
      </div>

    </div>
   </div>
</section>





 <header class="hero1">

        <div class="hero-overlay"></div>

        <div class="container position-relative">

            <div class="row">

                <div class="col-md-6">


                    <h1 class="hero-title1 mb-5">
                        Let's get your project
                        <br>
                        Started Today!
                    </h1>

                   

                </div>
                <div class="col-md-6 d-flex align-items-center gap-4 ">
                    <button class="btn btn-success ">Request A Pickup</button>
                    <button class="btn btn-light">Contact With Us</button>
                </div>

            </div>

        </div>

        
       

    </header>
