  <header class="hero">

        <div class="hero-overlay"></div>

        <div class="container position-relative">

            <div class="row">

                <div class="col--8">

                

                    <h1 class="hero-title d-flex justify-content-center mb-5">
                        Services
                    </h1>
                    <h3 class="d-flex justify-content-center text-white ">Home <span class="text-warning">/ Services</span></h3>

                  

                </div>

            </div>

        </div>

        
       

    </header>














<section class="services-section py-5">

  <div class="container">

    <!-- Section Title -->
    <div class="text-center mb-5">
         <p class="hero-subtitle mb-4">
                        What WE'RE DOING
                    </p>
      <h2 class="section-title"> Services We Offer </h2>
     
    </div>


    <div class="row g-4">

      <!-- Card 1 -->
      <div class="col-lg-4 col-md-6">
        <div class="service-card">

          <div class="image-box">
            <img class="py-2"
              src="assets/images/service/service_6.jpg"
              alt="Glass Recycling"
            >

            <div class="icon-box">
              <i class="bi bi-recycle"></i>
            </div>
          </div>

          <div class="card-body">
            <h3>Glass Recycling</h3>

            <p>
              Lorem ipsum dolor sit donec amet tristique
              ante vel sem dictum is rhoncus elit sed.
            </p>

            <hr>

            <a href="#" class="read-more">
              Read More
            </a>
          </div>

        </div>
      </div>


      <!-- Card 2 -->
      <div class="col-lg-4 col-md-6">
        <div class="service-card">

          <div class="image-box">
            <img class="py-2"
              src="assets/images/service/service_2.jpg"
              alt="Aluminium Recycling"
            >

            <div class="icon-box">
              <i class="bi bi-box-seam"></i>
            </div>
          </div>

          <div class="card-body">
            <h3>Aluminium Recycling</h3>

            <p>
              Lorem ipsum dolor sit donec amet tristique
              ante vel sem dictum is rhoncus elit sed.
            </p>

            <hr>

            <a href="#" class="read-more">
              Read More
            </a>
          </div>

        </div>
      </div>


      <!-- Card 3 -->
      <div class="col-lg-4 col-md-6">
        <div class="service-card">

          <div class="image-box">
            <img class="py-2"
              src="assets/images/service/service_1.jpg"
              alt="Electrical Recycling"
            >

            <div class="icon-box">
              <i class="bi bi-cpu"></i>
            </div>
          </div>

          <div class="card-body">
            <h3>Electrical Recycling</h3>

            <p>
              Lorem ipsum dolor sit donec amet tristique
              ante vel sem dictum is rhoncus elit sed.
            </p>

            <hr>

            <a href="#" class="read-more">
              Read More
            </a>
          </div>

        </div>
      </div>


      <!-- Card 4 -->
      <div class="col-lg-4 col-md-6">
        <div class="service-card">

          <div class="image-box">
            <img class="py-2"
              src="assets/images/service/service_3.jpg"
              alt="Plastic Recycling"
            >

            <div class="icon-box">
              <i class="bi bi-recycle"></i>
            </div>
          </div>

          <div class="card-body">
            <!-- <h3>Plastic Recycling</h3> -->
            <a routerLink="/plastic Recycling" class="text-decoration-none text-bold ">plastic Recycling</a>

            <p class="pt-3" >
              Lorem ipsum dolor sit donec amet tristique
              ante vel sem dictum is rhoncus elit sed.
            </p>

            <hr>

            <a href="#" class="read-more">
              Read More
            </a>
          </div>

        </div>
      </div>


      <!-- Card 5 -->
      <div class="col-lg-4 col-md-6">
        <div class="service-card">

          <div class="image-box">
            <img class="py-2"
               src="assets/images/service/service_4.jpg"
              alt="Paper Recycling"
            >

            <div class="icon-box">
              <i class="bi bi-file-earmark-text"></i>
            </div>
          </div>

          <div class="card-body">
            <h3>Paper Recycling</h3>

            <p>
              Lorem ipsum dolor sit donec amet tristique
              ante vel sem dictum is rhoncus elit sed.
            </p>

            <hr>

            <a href="#" class="read-more">
              Read More
            </a>
          </div>

        </div>
      </div>


      <!-- Card 6 -->
      <div class="col-lg-4 col-md-6">
        <div class="service-card">

          <div class="image-box">
            <img class="py-2"
               src="assets/images/service/service_5.jpg"
              alt="Organic Waste"
            >

            <div class="icon-box">
              <i class="bi bi-flower1"></i>
            </div>
          </div>

          <div class="card-body">
            <h3>Organic Waste</h3>

            <p>
              Lorem ipsum dolor sit donec amet tristique
              ante vel sem dictum is rhoncus elit sed.
            </p>

            <hr>

            <a href="#" class="read-more">
              Read More
            </a>
          </div>

        </div>
      </div>


      <!-- Card 7 -->
      <div class="col-lg-4 col-md-6">
        <div class="service-card">

          <div class="image-box">
            <img class="py-2"
              src="assets/images/service/service_6.jpg"
              alt="Industrial Waste"
            >

            <div class="icon-box">
              <i class="bi bi-buildings"></i>
            </div>
          </div>

          <div class="card-body">
            <h3>Industrial Waste</h3>

            <p>
              Lorem ipsum dolor sit donec amet tristique
              ante vel sem dictum is rhoncus elit sed.
            </p>

            <hr>

            <a href="#" class="read-more">
              Read More
            </a>
          </div>

        </div>
      </div>

    </div>

  </div>

</section>




















<!-- Vision / Mission / Values Section -->
<section class="about-cards-section py-5">

  <div class="container">

    <div class="row g-4">

      <!-- Vision -->
      <div class="col-lg-4 col-md-6">
        <div class="info-card h-100 position-relative">

          <!-- Number -->
          <div class="card-number">
            01
          </div>

          <!-- Icon -->
          <div class="card-icon">
            <i class="bi bi-eye"></i>
          </div>

          <!-- Title -->
          <h3>our vision</h3>

          <!-- Description -->
          <p>
            To lead the integrated waste industry in Egypt through
            cooperation with the different sectors toward a clean
            environment and completing the recycled process.
          </p>

        </div>
      </div>


      <!-- Mission -->
      <div class="col-lg-4 col-md-6">
        <div class="info-card h-100 position-relative">

          <!-- Number -->
          <div class="card-number">
            02
          </div>

          <!-- Icon -->
          <div class="card-icon">
            <i class="bi bi-rocket-takeoff"></i>
          </div>

          <!-- Title -->
          <h3>our mission</h3>

          <!-- Description -->
          <p>
            Supporting the circular economy by applying integrated
            environmental solutions to achieve zero waste principles
            and making the best utilization of resources while fulfilling
            our responsibility towards our stakeholders by achieving
            win-win situation at all levels (customers, business partners,
            employees and natural environment).
          </p>

        </div>
      </div>


      <!-- Values -->
      <div class="col-lg-4 col-md-6 mx-md-auto">
        <div class="info-card values-card h-100  position-relative">

          <!-- Number -->
          <div class="card-number">
            03
          </div>

          <!-- Icon -->
          <div class="card-icon">
            <i class="bi bi-recycle"></i>
          </div>

          <!-- Title -->
          <h3>Our values</h3>

          <!-- Values -->
          <ul class="values-list text-center ">

            <li>
              <i class="bi bi-check-circle-fill"></i>
              <span>Build relations</span>
            </li>

            <li>
              <i class="bi bi-check-circle-fill"></i>
              <span>Integrity</span>
            </li>

            <li>
              <i class="bi bi-check-circle-fill"></i>
              <span>Accountability</span>
            </li>

            <li>
              <i class="bi bi-check-circle-fill"></i>
              <span>Excellence</span>
            </li>

            <li>
              <i class="bi bi-check-circle-fill"></i>
              <span>Innovation</span>
            </li>

          </ul>

        </div>
      </div>

    </div>

  </div>

</section>
