    <nav class="navbar navbar-expand-lg bg-white border-bottom">

        <div class="container-fluid  px-lg-5">

            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <h1 class="">EnviroGroup</h1>
            </a>

            <!-- Mobile Toggle -->
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mainNavbar"
                aria-controls="mainNavbar"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Content -->
            <div class="collapse navbar-collapse" id="mainNavbar">

                <!-- Links -->
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link text-success active" routerLink="home"  >home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-success" routerLink="aboutus">aboutus</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-success" routerLink="services">services</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-success" routerLink="products">products</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-success" routerLink="career">career</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-success " routerLink="news">news</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-success " routerLink="contact">contact</a>
                    </li>

                </ul>

                <!-- Right Side -->
                <div class="d-flex align-items-center gap-4">

                    <a href="#" class="search-icon">
                        <i class="bi bi-search"></i>
                    </a>

                    <a href="#" class="btn btn-success quote-btn">
                        GET A QUOTE
                    </a>

                </div>

            </div>

        </div>

    </nav>



  