  <header class="hero">

        <div class="hero-overlay"></div>

        <div class="container position-relative">

            <div class="row">

                <div class="col--8">

                

                    <h1 class="hero-title d-flex justify-content-center mb-5">
                        Blog
                    </h1>
                    <h3 class="d-flex justify-content-center text-white ">Home   <span class="text-warning"> / Blog</span></h3>

                  

                </div>

            </div>

        </div>

        
       

    </header>






















    

<section class="services-section py-5">

  <div class="container">

    <!-- Section Title -->
    <div class="text-center mb-5">
         <p class="hero-subtitle mb-4">
                        What WE'RE DOING
                    </p>
      <h2 class="section-title"> Services We Offer </h2>
     
    </div>


    <div class="row g-4">

      <!-- Card 1 -->
      <div class="col-lg-4 col-md-6">
        <div class="service-card"routerLink="/blog-details" style="cursor: pointer;" >

          <div class="image-box">
            <img class="py-2"
              src="assets/images/service/service_6.jpg"
              alt="Glass Recycling"
            >

            <div class="icon-box">
              <i class="bi bi-recycle"></i>
            </div>
          </div>

          <div class="card-body">
            <h3>Glass Recycling</h3>

            <p>
              Lorem ipsum dolor sit donec amet tristique
              ante vel sem dictum is rhoncus elit sed.
            </p>

            <hr>

            <a routerLink="/blog-details" class="read-more">
              Read More
            </a>
          </div>

        </div>
      </div>


      <!-- Card 2 -->
      <div class="col-lg-4 col-md-6">
        <div class="service-card" routerLink="/blog-details"  style="cursor: pointer;" >

          <div class="image-box">
            <img class="py-2"
              src="assets/images/service/service_2.jpg"
              alt="Aluminium Recycling"
            >

            <div class="icon-box">
              <i class="bi bi-box-seam"></i>
            </div>
          </div>

          <div class="card-body">
            <h3>Aluminium Recycling</h3>

            <p>
              Lorem ipsum dolor sit donec amet tristique
              ante vel sem dictum is rhoncus elit sed.
            </p>

            <hr>

            <a routerLink="/blog-details" class="read-more">
              Read More
            </a>
          </div>

        </div>
      </div>


      <!-- Card 3 -->
      <div class="col-lg-4 col-md-6"  style="cursor: pointer;">
        <div class="service-card" routerLink="/blog-details"  >

          <div class="image-box">
            <img class="py-2"
              src="assets/images/service/service_1.jpg"
              alt="Electrical Recycling"
            >

            <div class="icon-box">
              <i class="bi bi-cpu"></i>
            </div>
          </div>

          <div class="card-body">
            <h3>Electrical Recycling</h3>

            <p>
              Lorem ipsum dolor sit donec amet tristique
              ante vel sem dictum is rhoncus elit sed.
            </p>

            <hr>

            <a routerLink="/blog-details" class="read-more">
              Read More
            </a>
          </div>

        </div>
      </div>


      <!-- Card 4 -->
      <div class="col-lg-4 col-md-6"  style="cursor: pointer;">
        <div routerLink="/blog-details" class="service-card">

          <div class="image-box">
            <img class="py-2"
              src="assets/images/service/service_3.jpg"
              alt="Plastic Recycling"
            >

            <div class="icon-box">
              <i class="bi bi-recycle"></i>
            </div>
          </div>

          <div class="card-body">
            <!-- <h3>Plastic Recycling</h3> -->
            <a routerLink="/blog-details" class="text-decoration-none text-bold ">plastic Recycling</a>

            <p class="pt-3" >
              Lorem ipsum dolor sit donec amet tristique
              ante vel sem dictum is rhoncus elit sed.
            </p>

            <hr>

            <a routerLink="/blog-details" class="read-more">
              Read More
            </a>
          </div>

        </div>
      </div>


      <!-- Card 5 -->
      <div class="col-lg-4 col-md-6"  style="cursor: pointer;">
        <div class="service-card" routerLink="/blog-details"  >

          <div class="image-box">
            <img class="py-2"
               src="assets/images/service/service_4.jpg"
              alt="Paper Recycling"
            >

            <div class="icon-box">
              <i class="bi bi-file-earmark-text"></i>
            </div>
          </div>

          <div class="card-body">
            <h3>Paper Recycling</h3>

            <p>
              Lorem ipsum dolor sit donec amet tristique
              ante vel sem dictum is rhoncus elit sed.
            </p>

            <hr>

            <a routerLink="/blog-details" class="read-more">
              Read More
            </a>
          </div>

        </div>
      </div>


      <!-- Card 6 -->
     

      <!-- Card 7 -->
      <div class="col-lg-4 col-md-6"  style="cursor: pointer;">
        <div class="service-card" routerLink="/blog-details" >

          <div class="image-box">
            <img class="py-2"
              src="assets/images/service/service_6.jpg"
              alt="Industrial Waste"
            >

            <div class="icon-box">
              <i class="bi bi-buildings"></i>
            </div>
          </div>

          <div class="card-body">
            <h3>Industrial Waste</h3>

            <p>
              Lorem ipsum dolor sit donec amet tristique
              ante vel sem dictum is rhoncus elit sed.
            </p>

            <hr>

            <a routerLink="/blog-details" class="read-more">
              Read More
            </a>
          </div>

        </div>
      </div>

    </div>

  </div>

</section>












































<!-- 
<section class="news-section">
  <div class="container-fluid px-4 px-lg-5">
    <div class="row g-4">

      <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of newsItems">
        <div class="news-card">

          <div class="news-img">
            <img src="../../../../assets/images/breadcrumb/blog_bg.jpg" [alt]="item.title">

            <div class="news-date">
              <span>{{ item.day }}</span>
              <small>{{ item.month }}</small>
            </div>
          </div>

          <div class="news-body">
            <h3>{{ item.title }}</h3>

            <p>
              {{ item.description }}
            </p>
          </div>

        </div>
      </div>

    </div>
  </div>
</section> -->
