  <header class="hero">

        <div class="hero-overlay"></div>

        <div class="container position-relative">

            <div class="row">

                <div class="col--8">

                

                    <h1 class="hero-title d-flex justify-content-center mb-5">
                        Products
                    </h1>
                    <h3 class="d-flex justify-content-center text-white ">Home <span class="text-warning">/ Products</span></h3>

                  

                </div>

            </div>

        </div>

        
       

    </header>















<!-- Services / Products Section -->
<section class="py-5">
  <div class="container">
    <div class="row g-4">

      <!-- ================= LEFT SIDE ================= -->
      <div class="col-lg-8">
        <div class="row g-4">

          <!-- Card 1 -->
          <div class="col-md-4 col-sm-6" 
          style="cursor: pointer;" 
          routerLink="/product-details">
            <div class="card border-0 shadow-sm h-100">

              <img
                src="../../../../assets/images/service/service_4.jpg"
                class="card-img-top"
                alt="Plastic Recycling"
              >

              <div class="card-body text-center py-4">
                <h5 class="fw-bold mb-0 "

                routerLink="/product-details">
                  Plastic Recycling<br>
                  Services
                </h5>
              </div>

            </div>
          </div>

          <!-- Card 2 -->
          <div class="col-md-4 col-sm-6" 
          style="cursor: pointer;" 
          routerLink="/product-details">
            <div class="card border-0 shadow-sm h-100">

              <img
                src="../../../../assets/images/service/service_4.jpg"
                class="card-img-top"
                alt="Plastic Recycling"
              >

              <div class="card-body text-center py-4">
                <h5 class="fw-bold mb-0"
                routerLink="/product-details">
                  Plastic Recycling<br>
                  Services
                </h5>
              </div>

            </div>
          </div>
          <!-- Card 3 -->
         <div class="col-md-4 col-sm-6" 
          style="cursor: pointer;" 
          routerLink="/product-details">
            <div class="card border-0 shadow-sm h-100">

              <img
                src="../../../../assets/images/service/service_4.jpg"
                class="card-img-top"
                alt="Plastic Recycling"
              >

              <div class="card-body text-center py-4">
                <h5 class="fw-bold mb-0"
                routerLink="/product-details">
                  Plastic Recycling<br>
                  Services
                </h5>
              </div>

            </div>
          </div>
          <!-- Card 4 -->
          <div class="col-md-4 col-sm-6" 
          style="cursor: pointer;" 
          routerLink="/product-details">
            <div class="card border-0 shadow-sm h-100">

              <img
                src="../../../../assets/images/service/service_4.jpg"
                class="card-img-top"
                alt="Plastic Recycling"
              >

              <div class="card-body text-center py-4">
                <h5 class="fw-bold mb-0"
                routerLink="/product-details">
                  Plastic Recycling<br>
                  Services
                </h5>
              </div>

            </div>
          </div>

        </div>
      </div>


      <!-- ================= RIGHT SIDEBAR ================= -->
      <div class="col-lg-4">

        <!-- Search -->
       <div class="search-box d-flex align-items-center px-4 mb-5">
  <input
    type="text"
    class="form-control border-0 shadow-none"
    placeholder="Search here"
  />

  <button
    type="button"
    class="btn border-0 p-3"
  >
    <i class="bi bi-search"></i>
  </button>
</div>


        <!-- Categories -->
        <div class="sidebar-section mb-5">

          <h5 class="fw-bold mb-4">
            categories
          </h5>

          <div class="category-item d-flex  align-items-center mb-3" style="cursor: pointer;" >
            <span class="category-name">
              Recycle Raw Materials
            </span>

            <span class="category-count ms-2">
              2
            </span>
          </div>

          <div class="category-item d-flex align-items-center" style="cursor: pointer;" >
            <span class="category-name">
              Final Product
            </span>

            <span class="category-count ms-2">
              2
            </span>
          </div>

        </div>


        <!-- Latest Products -->
      <div class="latest-products pt-4">

  <h5 class="fw-bold mb-4">
    Latest Products
  </h5>

  <!-- Product 1 -->
  <a
    href="/products"
    class="d-flex gap-3 mb-4 text-decoration-none text-dark"
  >
    <img
      src="../../../../assets/images/service/service_4.jpg"
      alt=""
      class="latest-img"
    >

    <div>
      <h6 class="fw-bold mb-0">
        Bio-based materials used to salvage
      </h6>
    </div>
  </a>


  <!-- Product 2 -->
  <a
     href="/products"
    class="d-flex gap-3 mb-4 text-decoration-none text-dark"
  >
    <img
      src="../../../../assets/images/service/service_4.jpg"
      alt=""
      class="latest-img"
    >

    <div>
      <h6 class="fw-bold mb-0">
        Smart & Recycle Recycling
      </h6>
    </div>
  </a>


  <!-- Product 3 -->
  <a
    href="/products"
    class="d-flex gap-3 text-decoration-none text-dark"
  >
    <img
      src="../../../../assets/images/service/service_4.jpg"
      alt=""
      class="latest-img"
    >

    <div>
      <h6 class="fw-bold mb-0">
        Eco Friendly Products
      </h6>
    </div>
  </a>

</div>

      </div>

    </div>
  </div>
</section>
















