

 
  <header class="hero">

        <div class="hero-overlay"></div>

        <div class="container position-relative">

            <div class="row">

                <div class="col--8">

                

                    <h1 class="hero-title d-flex justify-content-center mb-5">
                        Join Us
                    </h1>
                    <h3 class="d-flex justify-content-center text-white ">Home   <span class="text-warning"> / Joun Us</span></h3>

                  

                </div>

            </div>

        </div>

        
       

    </header>


















    


<!-- Join Section -->
<section class="join-section">

    <div class="container text-center">

        <!-- Icon -->
        <div class="join-icon">
            <i class="bi bi-tree-fill"></i>
        </div>

        <div class="join-small-title">
            JOIN US
        </div>

        <h1 class="main-title">
            we wish you the best of luck!
        </h1>

        <p class="description">
            LOREM IPSUM DOLOR SIT AMET CONSECTETUR ADIPISICING ELIT.
            FACILIS INVENTORE AMET PORRO DESERUNT, QUIS NAM ESSE
            ELIGENDI SOLUTA SED EOS CULPA VOLUPTATEM BLANDITIIS
            IMPEDIT EX, TEMPORE VITAE QUIDEM QUAM? MINIMA?
        </p>


        <!-- Form -->
        <div class="form-card">

            <!-- Upload -->
            <div class="upload-wrapper">

                <label for="fileUpload" class="upload-box">

                    <i class="bi bi-cloud-arrow-up-fill"></i>

                    <span>
                        drag and drop file
                    </span>

                </label>

                <input
                    type="file"
                    id="fileUpload"
                    hidden
                >

            </div>


            <!-- Inputs -->
            <form>

                <div class="row g-4">

                    <div class="col-md-6">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="name"
                        >
                    </div>

                    <div class="col-md-6">
                        <input
                            type="email"
                            class="form-control"
                            placeholder="email"
                        >
                    </div>

                    <div class="col-md-6">
                        <input
                            type="tel"
                            class="form-control"
                            placeholder="Phone"
                        >
                    </div>

                    <div class="col-md-6">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="salary"
                        >
                    </div>

                </div>

                <!-- <button type="submit" class="send-btn">
                    SEND
                </button> -->
                <button type="submit" class="btn btn-success mt-3">
                    SEND
                </button>

            </form>

        </div>

    </div>

</section>


