<!-- Hero -->
<header class="hero">

  <div class="hero-overlay"></div>

  <div class="container position-relative">
    <div class="row">

      <div class="col-12 text-center">

        <h1 class="hero-title mb-4">
          Join Us
        </h1>

        <h3 class="hero-breadcrumb">
          Home
          <span>/ Join Us</span>
        </h3>

      </div>

    </div>
  </div>

</header>


<!-- Join Section -->
<section class="join-section">

  <div class="container text-center">

    <!-- Icon -->
    <div class="join-icon">
      <i class="bi bi-tree-fill"></i>
    </div>

    <!-- Small Title -->
    <div class="join-small-title">
      JOIN US
    </div>

    <!-- Main Title -->
    <h1 class="main-title">
      we wish you the best of luck!
    </h1>

    <!-- Description -->
    <p class="description">
      LOREM IPSUM DOLOR SIT AMET CONSECTETUR ADIPISICING ELIT.
      FACILIS INVENTORE AMET PORRO DESERUNT, QUIS NAM ESSE
      ELIGENDI SOLUTA SED EOS CULPA VOLUPTATEM BLANDITIIS
      IMPEDIT EX, TEMPORE VITAE QUIDEM QUAM? MINIMA?
    </p>


    <!-- Form Card -->
    <div class="form-card">

      <!-- Upload -->
     <div class="upload-wrapper">

  <label for="fileUpload" class="upload-box">

    <i class="bi bi-cloud-arrow-up-fill"></i>

    <span>Click to choose image</span>

    <small *ngIf="selectedImage">
      {{ selectedImage?.name }}
    </small>

  </label>

  <input
    id="fileUpload"
    type="file"
    accept="image/*"
    (change)="onFileSelected($event)"
    style="display: none;"
  >

</div>

<!-- Preview -->
<div *ngIf="imagePreview" class="image-preview">

  <img
    [src]="imagePreview"
    alt="Selected Image"
  >

</div>


      <!-- Form -->
      <form>

        <div class="row g-4">

          <!-- Name -->
          <div class="col-md-6">

            <input
              type="text"
              class="form-control"
              placeholder="Name"
            >

          </div>


          <!-- Email -->
          <div class="col-md-6">

            <input
              type="email"
              class="form-control"
              placeholder="Email"
            >

          </div>


          <!-- Phone -->
          <div class="col-md-6">

            <input
              type="tel"
              class="form-control"
              placeholder="Phone"
            >

          </div>


          <!-- Salary -->
          <div class="col-md-6">

            <input
              type="text"
              class="form-control"
              placeholder="Salary"
            >

          </div>

        </div>


        <!-- Send Button -->
        <button
          type="submit"
          class="send-btn"
        >
          SEND
        </button>

      </form>

    </div>

  </div>

</section>